page-forgot-password {
	.item-list {
  	background-color:#f9f9f9 !important;
  	border-radius: 20px;
  	//padding: 20px 0px 0px 0px !important;
  	height: 55% !important;
  }

	form{
  	padding: 10px 10px 0px 10px !important;
  	height: 80% !important;

	}
	.scroll-content ion-content {
    overflow-y: hidden !important;
	}
	.content{
		background-color:#eeeeee;
		
	}

	.button{
		width: 93% !important;
		border:0px !important;
		//height: 80% !important;
		margin: 5px 10px 2px 13px !important;
		text-transform: capitalize !important;
	}
	.buttons{
		margin: 55px 10px 2px 13px !important;
	}
	ion-item{
		//padding:10px 10px 0px 20px !important;
		background-color: transparent !important;
	}

	.imgRecuperar {
		width: 80% !important;
    height: 32%!important;
    text-align: center;
	}
	.slide-image{
    height: 45%;
    width: 60%;
    margin-top: 10px;
    margin-left: 50px;
  }
 	h5{
 		margin-left: 50px;
 	}
	ion-label{
		font-size: 20px;
	}
	.text-input{
		height: 40px;
		border-radius: 50px;
		background-color: #ffffff !important;
	}
}
