page-my-profile {
        ion-navbar ion-header{
          height:30% !important;
          //z-index: -10 !important;
        }
        ion-item{
          background-color: transparent !important;
          color: #222222 !important;
        }
        ion-content{
          background-color: #eeeeee !important;
        }
        .imgProfile{
          margin-top:-20% !important;
          z-index: 2 !important;
          position: relative;
        }
        .imgOrganization{
          width:48%;
          //height:60%;
        }
        h2{
          color: #ffffff;
        }
        h4{
          //position: relative;
          color: #000000;
          margin-top: -15% !important;
        }
        p{
          //353535
          color: #5c5c5c !important;
          font-size: 12px !important; 
      
        }
        ion-label{
          color: #a0a0a0;
          font-size: 12px !important; 
          text-transform: uppercase;
        }
        .fotosVideos{
          height: 16% !important;
        }
        ion-slides{
          color: #a0a0a0;
          padding: 0px 0px 0px 0px;
          width: 120%;
          //font-weight: bold;
        }
        ion-slide {
          width: 19% !important;
          height: auto !important;
          border-radius: 10%;
          background-color: #e5e5e5 !important ;
        }
        .imgInfo{
          width: 40px !important;
          height: 40px !important; 
      
        }
        .articulos{
          margin-top: -20px;
        }
        .formProfile{
      
          color: #9f9f9f;//b4b4b4 4c4c4c4
          color: #e5e5e5;
          color: #414141;
      
        }
        .item-profile {
          width: 100%;
          background-position: center center;
          background-size: cover;
          height: 250px;
        }
      
        .item-detail {
          color: #222222 !important;
          font-size: 14px !important;
        }
      
}
